.margin-bottom-15px {
    margin-bottom: 15px;
}
.centered {
    text-align: center;
}
.react-reveal {
    opacity: 0;
}
.single-position {
    margin-bottom: 10px;
}
.single-position-button {
    margin-top: 10px;
}
.page-content {
    margin: auto;
    width: 90vw;
}
button.btn-tertiary {
    background-color:white !important;
    color: #005696;
    border-color: #005696;
    margin-right: 10px;
    margin-top: 10px;
}
.btn-secondary {
    color: white !important;
    background-color: #005696;
    border-color: #1c87e6;
}


.single-position-button {
    margin-top: 10px;
}

img {
    vertical-align: middle;
    border-style: none;
}
.single-position-img img {
    width: 125px;
    height: 125px;
    padding: 0.6rem;
}

.single-position-img-and-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-position-title {
    font-size: 1.25em;
    font-weight: bold;
}
.single-position-subtitle {
    font-size: 1.1em;
    font-weight: bold;
}
.single-position-subtitle-date {
    font-size: 1em;
    margin-top: -0.2rem;
}
.single-position-body {
    padding: 0.6rem;
    padding-left: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Quicksand", sans-serif !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

.container {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #efefef;
    border-radius: 25px;
  }

  .card{
      border-radius: 20px;
  }