  .top-section{
    padding: 20px;
    font-size: 16px;
}
.home-info{
    position: relative;
    display: flex;
    max-width: 1100px;
    margin: 20px auto 0;
    justify-content: space-between;
    float: right

}
.page-content {
  margin: auto;
  width: 90vw;
}
.intro-blurb-container {
  margin-top: 10px;
}
.intro-blurb-container>h1 {
  margin: auto;
  text-align: center;
  font-size: 3rem;
}
.intro-blurb-container>p {
  font-size: 1.2rem !important;
  text-align: center;
  margin-bottom: 5px !important;
}
.main-intro {
  min-height: 100vh;
  padding-top: 1vh;
}
.home-text{
    max-width: 700px;
}
.page-title{
    display: block;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 45px;
    font-weight: 600;
    color: #334357;
    padding:20px;
    justify-content: center;
    text-align: center;
}
.small-header{
    display: block;
    width: 90%;
    margin: 0 0 40px;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5em;
    padding:10px;

}
.social-links {
  text-align: center;
  display: flex;
  justify-content: center;
}
.social-item {
  color: #005696;
  margin: 5px;
}
.social-flex {
  display: flex;
  align-items: center;
}
a, a:hover, a:active, a:focus, a:visited {
  color: white ;
  text-decoration: none !important;
}

.main-see-below {
  text-align: center;
}

.spin {
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
  stroke: #005696;
}

@media (min-width: 1120px){
.main-gear-svg {
    width: 600px;
    height: 600px;
}
}
@media (min-width: 1120px){
.main-gear-container {
    margin-left: calc(45vw - 300px);
    height: 600px;
}}
.st1 {
  fill: none;
  stroke: #005696;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.gear-image {
  clip-path: url(#clip-circle-path);
}
.gear-image-show {
  opacity: 1 !important;
}
.gear-image-image {
  transition: opacity 1s ease-in-out;
}

.main-intro {
  min-height: 100vh;
  padding-top: 1vh;
}

.main-see-below {
  text-align: center;
}

/* .main-gear-container {
  margin-top: 7vh;
} */

@media (max-width: 660px) {
  .main-gear-container {
      margin-left: 5vw;
      height: 80vw;
  }
}

@media (min-width: 660px) {
  .main-gear-container {
      margin-left: 15vw;
      height: 60vw;
  }
}

@media (min-width: 1120px) {
  .main-gear-container {
      margin-left: calc(45vw - 300px);
      height: 600px;
  }
}
.main-gear-svg {
  display: block;
  margin: auto;
  position: absolute;
}

@media (max-width: 660px) {
  .main-gear-svg {
      width: 80vw;
      height: 80vw;
  }
}

@media (min-width: 660px) and (max-width: 1120px) {
  .main-gear-svg {
      width: 60vw;
      height: 60vw;
  }
}

@media (min-width: 1120px) {
  .main-gear-svg {
      width: 600px;
      height: 600px;
  }
}

.st1 {
  fill: none;
  stroke: var(--theme-color);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st2 {
  fill: var(--theme-color);
  stroke: var(--theme-color);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st3 {
  stroke-width: 2 !important;
}

.gear-image {
  clip-path: url(#clip-circle-path);
}

.gear-image-image {
  transition: opacity 1s ease-in-out;
}

.gear-image-hidden {
  opacity: 0;
}

.gear-image-show {
  opacity: 1 !important;
}

.spin {
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
  stroke: #005696;
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

